

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #161515;
  }
  
  .contain {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .display {
    padding: 20px;
    background-color: #aab3a3;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  #screen {
    width: 100%;
    height: 90px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
  }
  
  .butt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  

  button {
    width: 50px;
    height: 40px;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #24695a;
    color: #fff;
    cursor: pointer;
  }
  button:hover {
    background-color: #633e8e;
  }
  
  /* button:active {
    background-color: #3e8e41;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  } */
  
  /* Responsive Styles */


/* 

  @media (max-width: 768px) {
    .contain {
      max-width: 300px;
    }
    button {
      width: calc(33.33% - 10px);
    }
  }
  
  @media (max-width: 480px) {
    .contain {
      max-width: 250px;
    }
    button {
      width: calc(50% - 10px);
    }
  }  
*/
